**/obj/*
**/bin/*
\.vscode/
\.vs/
*.csproj.user
secret.env
config.env
composer.phar
/src/DonationManager/vendor/*
*.xlsx
data/curricula/*
!data/curricula/placeholder
data/profile/*
!data/profile/placeholder
