@using CodeMooc.Web.Model
@model CompleteResetPasswordViewModel
@{
    Layout = "Main";
    ViewData["Title"] = "Reimposta password";
}

<div class="container">
    <h1 class="text-center">Reimposta password</h1>

    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">

        @if (Model.PasswordReset) {
            <p>La tua nuova password è stata impostata correttamente. Puoi ora procedere al @Html.ActionLink("login", "Index", "Login").</p>
        }
        else {
            <form asp-controller="Login" asp-action="PerformFinalizeResetPassword" method="post" class="form-horizontal" role="form" asp-antiforgery="true">
                <div class="form-group">
                    <label>Nuova password *</label>
                    <input name="password" type="password" class="form-control" />
                </div>

                <input type="hidden" name="id" value="@Model.UserId" />
                <input type="hidden" name="secret" value="@Model.Secret" />

                <button id="submit" type="submit" value="submit" class="btn btn-primary btn-block">Imposta nuova password</button>
            </form>
        }

    </div>

</div>
