@using CodeMooc.Web.Model
@model LoginViewModel
@{
    Layout = "Main";
    ViewData["Title"] = "Login";
}

<div class="container">
    <h1 class="text-center">Login</h1>

    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">

    @if (Model.IsLoggedIn) {
    <form asp-controller="Login" asp-action="Logout" method="post" role="form" asp-antiforgery="true">
        <div class="form-group">
            <button id="submit" type="submit" value="submit" class="btn btn-primary btn-block">Logout</button>
        </div>
    </form>
    }
    else {
    <form asp-controller="Login" asp-action="PerformLogin" method="post" class="form-horizontal" role="form" asp-antiforgery="true">
        <div class="form-group">
            <label>Indirizzo e-mail *</label>
            <input name="email" type="text" class="form-control" value="@Model.Email" />
        </div>

        <div class="form-group">
            <label>Password *</label>
            <input name="password" type="password" class="form-control" />
        </div>

        <div>
            <label><input name="remember" type="checkbox" value="true" /> Rimani collegato/a</label>
        </div>

        <input type="hidden" name="proceed" value="@Model.ProceedUrl" />

        @if(Model.Status == LoginViewModel.LoginStatus.LoginFailure) {
        <div class="form-error">
            Username o password non validi.
        </div>
        }
        else if(Model.Status == LoginViewModel.LoginStatus.LoggedOut) {
        <div class="form-error">
            Logout eseguito.
        </div>
        }

        <p>Password dimenticata? @Html.ActionLink("Reimposta le tue credenziali", "ResetPassword").</p>

        <p>Non sei registrato? @Html.ActionLink("Iscrivi all'associazione", "Index", "Register").</p>

        <button id="submit" type="submit" value="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    }
    </div>

</div>
