@{
    Layout = "Main";
    ViewData["Title"] = "Non autorizzato";
}

<div class="container">
    <h1 class="text-center">Non autorizzato</h1>

    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <p>Non sei autorizzato/a a visualizzare la risorsa richiesta.</p>
    </div>

</div>
