<!DOCTYPE html>

<html lang="it-IT">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>@ViewBag.Title | CodeMOOC.net</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
    <link href="~/static/signup.css" rel="stylesheet" />
    <link href="~/static/signup-black.css" rel="stylesheet" />

    <script src="~/static/signup.js" type="text/javascript"></script>

    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
</head>

<body>
    <div class="container">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
            <img id="logo" src="~/static/codemoocnet.png" alt="CodeMOOC.net logo" class="img-fluid" />
        </div>
    </div>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
                <p>
                    Associazione di Promozione Sociale e Culturale<br />
                    CODEMOOC&nbsp;NET&mdash;C.F.&nbsp;91028760410&mdash;<a href="mailto:associazione@codemooc.net">associazione@codemooc.net</a>
                </p>
            </div>
        </div>
</footer>

</body>
</html>
