@{
    Layout = "Main";
    ViewData["Title"] = "Iscrizione effettuata";
}

<div class="container">
    <h1 class="text-center">Iscrizione effettuata</h1>

    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <p>Grazie per esserti iscritto/a su <b>CodeMOOC.net</b>!</p>

        <p>Ti stiamo inviando un’e-mail all'indirizzo @ViewData["email"] con un collegamento per confermare la validità del tuo indirizzo e-mail. (Controlla anche nella cartella dello spam se non dovessi ricevere niente entro un paio di minuti.)</p>
    </div>
</div>
