@{
    Layout = "Main";
    ViewData["Title"] = "Iscrizione effettuata";
}

<div class="container">
    <h1 class="text-center">Iscrizione effettuata</h1>

    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <p>Grazie per esserti iscritto/a su <b>codemooc.net</b>!</p>

        <p>Riceverai nei prossimi minuti un’e-mail all'indirizzo @ViewData["email"] con un collegamento per confermare la validità del tuo indirizzo e-mail.</p>
    </div>
</div>
