@{
    Layout = "Main";
    ViewData["Title"] = "Iscrizione";
}
@model CodeMooc.Web.Model.RegistrationViewModel

<div class="container">
    <h1 class="text-center">Iscrizione</h1>

    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <p>
            <b>CodeMOOC</b> è l’acronimo di un corso online aperto e gratuito che l’Università di Urbino eroga dal&nbsp;2016 per aiutare gli insegnanti ad introdurre il pensiero computazionale in classe attraverso la pratica del coding . CodeMOOC ha creato un modo nuovo di fare formazione, ha aperto un collegamento diretto tra università e scuola, ha offerto nuovi strumenti di cambiamento dal basso, ha favorito l’innovazione partendo dalle competenze, ha dato vita ad una comunità di apprendimento e di pratica che ad oggi coinvolge più di 30.000&nbsp;insegnanti e, per loro tramite, più di un milione di ragazzi.
        </p>
        
        <p>
            <b>CODEMOOC NET</b> nasce per riconoscere l’identità e il valore di questa comunità di pratica, per offrirle strumenti adeguati di confronto, di condivisione e di crescita, per ampliarne l’impatto sociale e culturale, per permetterle di autofinanziare lo sviluppo di strumenti e progetti utili a perseguirne le finalità. Tra questi: una rete di insegnanti con competenze ed esperienze certificate di coding a scuola, che possano essere facilmente rintracciate e messe a disposizione delle scuole che ne avvertano il bisogno, una rivista tematica open access che offra agli insegnanti che praticano il coding a scuola l’opportunità di documentare in modo rigoroso e condividere le proprie esperienze in forma di lesson plan, revisionati tra pari e validati da un comitato editoriale e da un comitato scientifico.
        </p>

        <p>
            <b>CODEMOOC NET</b> è un’Assocazione di Promozione Sociale e Culturale senza scopo di lucro, aperta alla partecipazione di chiunque ne riconosca lo scopo e lo spirito.
        </p>

        <form asp-controller="Register" asp-action="Process" method="post" class="form-horizontal" role="form" asp-antiforgery="false">

            <h2>Anagrafica</h2>

            <div class="form-row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Name">Nome *</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Surname">Cognome *</label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Birthday">Data di nascita *</label>
                        <input asp-for="Birthday" class="form-control" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
                        <span asp-validation-for="Birthday"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Birthplace">Luogo di nascita *</label>
                        <input asp-for="Birthplace" class="form-control" />
                        <span asp-validation-for="Birthplace"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="FiscalCode">Codice fiscale *</label>
                <input asp-for="FiscalCode" class="form-control" />
                <span asp-validation-for="FiscalCode"></span>
            </div>

            <div class="form-group">
                <label asp-for="AddressStreet">Indirizzo *</label>
                <input asp-for="AddressStreet" class="form-control" />
                <span asp-validation-for="AddressStreet"></span>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="AddressCap">CAP *</label>
                        <input asp-for="AddressCap" class="form-control" />
                        <span asp-validation-for="AddressCap"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="AddressCity">Città *</label>
                        <input asp-for="AddressCity" class="form-control" />
                        <span asp-validation-for="AddressCity"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AddressCountry">Paese *</label>
                <input asp-for="AddressCountry" class="form-control" />
                <span asp-validation-for="AddressCountry"></span>
            </div>

            <hr />

            <h2>Dati di accesso</h2>

            <div class="form-group">
                <label asp-for="Email">Indirizzo e-mail *</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
                <small class="text-muted">
                    Se stai già partecipando (o intendi partecipare) al <a href="https://www.produzionidalbasso.com/project/codemooc-net/">crowdfunding di CodeMOOC.net</a>, assicurati di iscriverti utilizzando lo stesso indirizzo e-mail.
                </small>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password *</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordConfirm">Conferma Password *</label>
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm"></span>
            </div>

            <hr />

            <h2>Informazioni aggiuntive</h2>

            <div class="form-group">
                <label asp-for="Category">Categoria</label>
                <select asp-for="Category" asp-items="Html.GetEnumSelectList<CodeMooc.Web.UserCategory>()" class="form-control"></select>
                <span asp-validation-for="Category"></span>
            </div>

            <div class="form-check">
                <input asp-for="HasAttendedMooc" class="form-check-input" />
                <label asp-for="HasAttendedMooc" class="form-check-label">Spunta questa casella se hai frequentato <b>CodeMOOC</b> o altri MOOC sul coding dell’Università di Urbino.</label>
            </div>

            <div class="form-check">
                <input asp-for="HasCompletedMooc" class="form-check-input" />
                <label asp-for="HasCompletedMooc" class="form-check-label">Spunta questa casella se hai concluso <b>CodeMOOC</b> o altri MOOC sul coding dell’Università di Urbino.</label>
            </div>

            <hr />

            <div class="form-check">
                <input asp-for="AcceptsStatute" class="form-check-input" />
                <label asp-for="AcceptsStatute" class="form-check-label">Dichiaro di aver preso visione dello <a href="@Url.Action("ShowStatute", "Static")">Statuto</a> e mi impegno a rispettarlo.</label>
                <span asp-validation-for="AcceptsStatute"></span>
            </div>

            <div class="form-check">
                <input asp-for="AcceptsManifesto" class="form-check-input" />
                <label asp-for="AcceptsManifesto" class="form-check-label">Dichiaro di impegnarmi a rispettare il <a href="http://paroleostili.com/manifesto/">Decalogo del Manifesto della Comunicazione non Ostile</a>.</label>
                <span asp-validation-for="AcceptsManifesto"></span>
            </div>

            <div class="form-check">
                <input asp-for="AcceptsProcess" class="form-check-input" />
                <label asp-for="AcceptsProcess" class="form-check-label">Dichiaro di essere consapevole che la domanda di iscrizione verrà presa in carico solo dopo la conferma dell’indirizzo e-mail fornito, e che l’effettiva iscrizione avverrà a seguito della verifica del versamento di un contributo non inferiore ai 20&nbsp;Euro a beneficio del <a href="https://www.produzionidalbasso.com/project/codemooc-net/">progetto CODEMOOC&nbsp;NET</a>, effettuato specificando lo stesso indirizzo e-mail.</label>
                <span asp-validation-for="AcceptsProcess"></span>
            </div>

            <div class="form-check">
                <input asp-for="AcceptsPrivacy" class="form-check-input" />
                <label asp-for="AcceptsPrivacy" class="form-check-label">Dichiaro di aver preso visione dell’<a href="~/informativa-privacy-codemooc-net.pdf">informativa sulla privacy</a>.</label>
                <span asp-validation-for="AcceptsPrivacy"></span>
            </div>

            <p>Alla luce dell’informativa ricevuta:</p>

            <div class="form-check">
                <input asp-for="AcceptsTreatment" class="form-check-input" />
                <label asp-for="AcceptsTreatment" class="form-check-label">Esprimo il consenso al trattamento dei miei dati personali inclusi quelli considerati come categorie particolari di dati,</label>
                <span asp-validation-for="AcceptsTreatment"></span>
            </div>

            <div class="form-check">
                <input asp-for="AcceptsCommunication" class="form-check-input" />
                <label asp-for="AcceptsCommunication" class="form-check-label">Esprimo il consenso alla comunicazione dei miei dati personali per le finalità indicate nell’informativa.</label>
                <span asp-validation-for="AcceptsCommunication"></span>
            </div>

            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LccN4cUAAAAAHkPVCGZLem-g6wo5b33InjSb6Ja" data-theme="dark"></div>
                @Html.ValidationMessage("ReCaptcha")
            </div>

            <button id="submit" type="submit" value="submit" class="btn btn-primary btn-block">Iscriviti!</button>
        </form>
    </div>

</div>
