@using CodeMooc.Web.Model
@{
    Layout = "Main";
    ViewData["Title"] = "Funzione riservata";
}

<div class="container">
    <h1 class="text-center">Funzione riservata</h1>

    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">

        <p>◀&nbsp;@Html.ActionLink("Torna al pannello di controllo", "Index")</p>

        <div class="form-error">
            Questo modulo è disponibile soltanto per soci dell'associazione CodeMOOC.
            Unisciti alla <a href="https://www.produzionidalbasso.com/project/codemooc-net-2021/">campagna di crowdfunding</a> per diventare socio.
        </div>

    </div>

</div>
