@{
    Layout = "Main";
    ViewData["Title"] = "Registrazione Pigna";
}

<div class="container">
    <h1 class="text-center">Registrazione Pigna</h1>

    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">

        <p>◀&nbsp;@Html.ActionLink("Torna al pannello di controllo", "Index")</p>

        <p>
            La registrazione è andata a buon fine! Grazie. 👍
        </p>

    </div>

</div>
