@{
    Layout = "Main";
    ViewData["Title"] = "Benvenuto/a";
}

<div class="container">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">

        <p>
            Le iscrizioni per il 2019 sono chiuse. Ringraziamo i 185&nbsp;soci e sostenitori che hanno offerto il proprio supporto all'Associazione CodeMOOC.net in questo primo anno.
        </p>

        <p>
            Le iscrizioni per il <b>2020</b> apriranno il <b>15&nbsp;dicembre</b>.
        </p>

        <div class="video-player">
            <iframe src="https://www.youtube.com/embed/8btUiyAak7s?rel=0&amp;autoplay"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>

    </div>
</div>
