@{
    Layout = "Main";
    ViewData["Title"] = "Benvenuto/a";
}

<div class="container">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">

        <dl class="buttons">
            <dt><a href="/iscrizione" title="Iscriviti all'associazione">Iscriviti</a></dt>
            <dd>Iscriviti all’associazione e registra il tuo profilo.</dd>

            <dt><a href="https://www.produzionidalbasso.com/project/codemooc-net-2021/" title="Contribuisci al progetto">Contribuisci</a></dt>
            <dd>Contribuisci all’associazione e diventa socio o sostenitore per l’anno&nbsp;2021.</dd>

            <dt><a href="@Url.Action(nameof(DashboardController.Index), "Dashboard")" title="Accedi al pannello di controllo">Accedi</a></dt>
            <dd>Se sei già iscritto/a, accedi al pannello di controllo.</dd>
        </dl>

        <div class="video-player">
            <iframe src="https://www.youtube.com/embed/cPGjf9AG5Xg?rel=0&amp;autoplay"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>

    </div>
</div>
