@{
    Layout = "Main";
    ViewData["Title"] = "Statuto";
}

<div class="container">
    <h1 class="text-center">Statuto</h1>

    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">

        <h2>Costituzione e Scopi</h2>
        <p>
            <span class="article-label">Articolo 1)</span> È costituita l’Associazione di Promozione Sociale e Culturale
            “CODEMOOC NET” con sede in Corso Giuseppe Garibaldi n. 52 in Urbino (PU)
            61029; essa è retta dal presente statuto e dalle vigenti norme di legge in
            materia. A mezzo di specifica delibera del Consiglio Direttivo possono essere
            istituite diverse sedi operative e/o può essere modificata la sede legale ed
            operativa principale. Le eventuali variazioni di sede nell'ambito del medesimo
            comune non costituiscono modifiche del presente statuto.
        </p>
        <p>
            <span class="article-label">Articolo 2)</span> L’Associazione è un centro permanente di vita associativa a
            carattere volontario e democratico la cui attività è espressione di partecipazione,
            solidarietà e pluralismo. Essa non ha fine di lucro ed opera per fini culturali,
            ricreativi, solidaristici, educativi, pedagogici e di promozione sociale.
        </p>
        <p>
            <span class="article-label">Articolo 3)</span> L’Associazione ha lo scopo principale di favorire la diffusione del
            pensiero computazionale nella Scuola attraverso l’applicazione consapevole,
            nella pratica didattica, di principi, strumenti e metodi di programmazione,
            comunemente indicati con il termine “coding”. A tal fine, l’Associazione intende:
            - rafforzare l’identità e accrescere l’impatto della comunità di pratica che si è
            spontaneamente formata a partire dal 2016 a seguito dell’erogazione, da parte
            dell’Università di Urbino, del corso online aperto e gratuito “Coding in Your
            Classroom, Now!”, comunemente chiamato “CodeMOOC”;
            - valorizzare le competenze acquisite dagli insegnanti frequentando corsi di
            formazione specifici, erogati dall’Università di Urbino e da altri Atenei o
            soggetti accreditati;
            - favorire il confronto, la collaborazione, la condivisione e il riuso consapevole di
            esperienze e buone pratiche tra insegnanti;
            - incrementare le possibilità di confronto interdisciplinare e verticale tra
            insegnanti, professori e ricercatori universitari;
            - contribuire alla ricerca, allo sviluppo e alla sperimentazione di strumenti ludici
            e didattici inclusivi e coinvolgenti;
            - contribuire ad abbattere stereotipi e barriere di accesso allo studio e alla
            pratica dell’informatica;
            - prendere parte attiva ai processi di innovazione, sperimentazione e riforma
            scolastica;
            - partecipare attivamente a campagne di alfabetizzazione e sensibilizzazione
            nazionali ed internazionali;
            - organizzare e promuovere convegni, workshop, eventi, incontri, seminari e
            laboratori;
            - offrire agli associati la possibilità di gestire un proprio profilo professionale
            pubblico che metta in evidenza competenze ed esperienze di coding
            certificate;
            - contribuire all’edizione e alla diffusione di riviste tematiche open access che
            offrano agli insegnanti la possibilità di pubblicare articoli basati sulla propria
            esperienza didattica, sottoponendoli ad un processo di revisione tra pari e
            supervisione scientifica;
            - contribuire allo sviluppo culturale e civile dei cittadini e alla sempre più ampia
            diffusione della democrazia e della solidarietà nei rapporti umani, nonché alla
            pratica e alla difesa dei diritti umani e delle libertà civili, individuali e collettive;
            - contribuire alla divulgazione culturale e scientifica e alla diffusione di
            competenze digitali intese come strumenti di crescita personale e collettiva.
            Le attività dell’associazione e le sue finalità sono ispirate ai principi di pari
            opportunità e rispettose dei diritti inviolabili della persona.
        </p>
        <p>
            <span class="article-label">Articolo 4)</span> L’Associazione non ha scopo di lucro e potrà porre in essere
            operazioni di natura commerciale solo marginalmente in conformità con la
            normativa in vigore in materia di enti non commerciali, e comunque sempre
            finalizzate al raggiungimento dello scopo sociale.
        </p>
        <p>
            <span class="article-label">Articolo 5)</span> Al fine del raggiungimento dello scopo sociale, l’Associazione potrà
            avvalersi di beni e servizi offerti da terze parti e operare in collaborazione con
            soggetti pubblici e privati, dando priorità all’Università di Urbino e alle società
            collegate.
        </p>
        <h2>I Soci</h2>
        <p>
            <span class="article-label">Articolo 6)</span> Il numero dei soci è illimitato. Possono essere soci dell'associazione
            le persone fisiche, le società e gli enti che ne condividano gli scopi, che si
            impegnino a realizzarli e che ne facciano espressa richiesta. Le domande di
            adesione saranno soggette a valutazione da parte del Consiglio Direttivo o di
            suoi delegati.
        </p>
        <p>
            <span class="article-label">Articolo 7)</span> Ogni socio, per consapevole accettazione, assume l’obbligo di:
            - pagare il contributo una tantum di tesseramento;
            - pagare le quote di iscrizione annuali;
            - osservare lo Statuto e i regolamenti sociali;
            - rispettare, con lealtà e disciplina, le norme che regolano le attività;
            - rispettare il decalogo del Manifesto della comunicazione non ostile nei
            rapporti con i soci e in qualsiasi comunicazione pubblica riconducibile
            all’Associazione o ad altri Soci.
        </p>
        <p>
            <span class="article-label">Articolo 8)</span> La qualità di Socio si acquisisce con il tesseramento e il pagamento
            della quota annua, il cui importo è fissato annualmente dal Consiglio Direttivo
            dell’associazione. I Soci hanno diritto di usufruire dei servizi offerti
            dall’Associazione direttamente o in collaborazione con soggetti pubblici o privati.
            Non è ammessa l’iscrizione di soci con rapporto temporaneo.
        </p>
        <p>
            <span class="article-label">Articolo 9)</span> La qualifica di Socio si perde nei seguenti casi:
            - dimissioni volontarie;
            - mancato pagamento delle tessere o delle quote sociali senza giustificato
            motivo;
            - mancata ottemperanza alle disposizioni del presente statuto, ai regolamenti
            interni o alle deliberazioni prese dagli Organi Sociali;
            - radiazione deliberata dalla maggioranza assoluta dei componenti il Consiglio
            Direttivo, pronunciata contro il Socio che commette azioni ritenute
            disonorevoli o che, con la sua condotta, costituisce ostacolo al buon
            andamento del sodalizio o arreca danni morali o materiali all’Associazione.
            Il provvedimento del Consiglio Direttivo dovrà essere ratificato, alla prima
            occasione, dall’Assemblea Ordinaria. L’Associato radiato non può essere più
            riammesso ad eccezione dei Soci radiati per morosità, i quali potranno, dietro
            domanda, essere riammessi pagando una nuova quota di iscrizione.
        </p>
        <h2>Organi Sociali</h2>
        <p>
            <span class="article-label">Articolo 10)</span> Gli organi sociali sono:<br />
            a) l’Assemblea dei Soci<br />
            b) il Presidente<br />
            c) il Consiglio Direttivo.<br />
        </p>
        <p>
            <span class="article-label">Articolo 11)</span> L’Assemblea dei Soci è il massimo organo dell’Associazione.
            Hanno diritto di voto e di intervento tutti i Soci che abbiano compiuto il
            diciottesimo anno di età. L’Assemblea è validamente costituita quando siano
            presenti la metà più uno dei soci in prima convocazione, qualunque sia il
            numero dei soci in seconda convocazione. L’Assemblea ordinaria deve essere
            convocata almeno una volta all’anno e delibera sul rendiconto consuntivo, sugli
            indirizzi e direttive generali dell’associazione, sulla nomina dei componenti del
            Consiglio Direttivo e su quanto ad essa demandato per legge o per statuto.
            L’Assemblea straordinaria si convoca su iniziativa del Consiglio Direttivo,
            quando lo stessa lo ritenga necessario, o per l’esame delle modifiche allo
            statuto, oppure su richiesta scritta e motivata della metà più uno dei soci.
            L’Assemblea, sia ordinaria che straordinaria, è deliberata dal Consiglio Direttivo
            e convocata dal Presidente.
            La comunicazione di convocazione deve essere pubblicata almeno 10 giorni
            prima della data fissata, mediante pubblicazione sul sito internet istituzionale, o
            mediante pubblicazione su canali social ufficiali, o mediante e-mail inviata agli
            indirizzi forniti dai soci e deve contenere l’indicazione della data, dell’ora, del
            luogo e delle modalità di svolgimento, nonché l’ordine del giorno dei lavori. Sono
            ammesse riunioni telematiche, che non richiedano la simultanea presenza dei
            soci in uno stesso luogo. L’eventuale utilizzo di strumenti telematici deve essere
            specificato e dettagliato nella convocazione.
            Tutti i soci hanno diritto ad un voto e possono farsi rappresentare da altro socio
            mediante regolare delega sottoscritta. Ciascun socio non può rappresentare più
            di due soci, oltre a se stesso.
            Le deliberazioni dell’assemblea dei soci sono valide se prese a maggioranza dei
            voti espressi.
            Il Presidente dell’assemblea è il Presidente dell’Associazione, che viene assistito
            da un segretario da lui designato.
        </p>
        <p>
            <span class="article-label">Articolo 12)</span> Il Presidente viene eletto dal Consiglio Direttivo e rappresenta
            l’Associazione nei rapporti con i terzi, presiede l’Assemblea dei Soci e il Consiglio
            Direttivo.
            Il Presidente provvede alla direzione e gestione dell’Associazione in conformità
            alle delibere dell’Assemblea e del Consiglio Direttivo.
            In caso di estrema urgenza e necessità, il Presidente può provvedere su materia
            di competenza del Consiglio Direttivo e sottoporre la decisione a ratifica del
            Consiglio entro 90 giorni.
            In caso di assenza temporanea il Presidente può delegare, in tutto o in parte, le
            sue attribuzioni e i suoi poteri ad un Socio.
        </p>
        <p>
            <span class="article-label">Articolo 13)</span> Il Consiglio Direttivo è composto da un minimo di tre membri,
            eletti dai Soci Fondatori al momento della costituzione, o dall’Assemblea dei Soci
            che, nel proprio ambito, nomina il Presidente, il Vicepresidente ed il Segretario e
            fissa le mansioni eventuali degli altri consiglieri in ordine all’attività svolta
            dall’Associazione per il conseguimento dei propri fini istituzionali. E’ riconosciuto
            al Consiglio di cooptare altri membri fino ad un massimo di un terzo dei suoi
            componenti. Le funzioni dei membri del Consiglio Direttivo sono completamente
            gratuite e saranno rimborsate solo le spese inerenti l’espletamento dell’incarico.
            Il Consiglio Direttivo rimane in carica quattro anni e i suoi componenti sono
            rieleggibili, o tacitamente ed automaticamente rinnovati, qualora non si
            convochi l’apposita Assemblea. Le deliberazioni verranno adottate a
            maggioranza. In caso di parità prevarrà il voto del Presidente.
            Nel caso in cui uno o più dei componenti il Consiglio Direttivo sia chiamato, in
            virtù di proprie competenze specifiche, a svolgere attività professionale a favore
            dell’Associazione, dovrà essere retribuito solo per queste specifiche funzioni,
            fermo restando che nulla potrà essere riconosciuto a fronte dell’attività di
            consigliere svolta.
            Il Consiglio Direttivo dirige e gestisce l’Associazione, delibera sulle domande di
            ammissione o dimissioni dei soci, delibera sull’attività da svolgere e sui
            programmi da realizzare, redige il bilancio consuntivo, amministra il patrimonio e
            le rendite sociali, stabilisce la quota associativa, approva i regolamenti sociali.
            Il Consiglio Direttivo è convocato dal Presidente in seduta ordinaria quando
            necessario, ed è validamente costituito con la maggioranza dei suoi componenti.
            Le delibere sono prese a maggioranza assoluta dei presenti.
            Nel caso di dimissioni del Presidente o di un numero di Consiglieri tale da non
            garantire la numerosità minima del Consiglio Direttivo, il Presidente resta in
            carica per provvedere alla convocazione di una Assemblea straordinaria entro 60
            giorni.
            Il Consiglio Direttivo è convocato mediante comunicazione diretta con i
            Consiglieri o via e-mail almeno due giorni prima della data fissata per la
            riunione. Il Consiglio Direttivo deve riunirsi in seduta straordinaria quando la
            metà più uno dei suoi componenti lo richiede per iscritto.
        </p>
        <p>
            <span class="article-label">Articolo 14)</span> Tutte le cariche sociali sono onorifiche e completamente gratuite.
            E’ previsto per i soci, se deliberato dal Consiglio Direttivo, il rimborso delle spese
            effettivamente sostenute in base all’art.4 Legge 133/99.
        </p>
        <h2>Patrimonio ed Esercizio Sociale</h2>
        <p>
            <span class="article-label">Articolo 15)</span> Il patrimonio sociale è indivisibile ed è costituito:<br />
            a) da beni mobili e immobili di proprietà dell’Associazione;<br />
            b) da eventuali erogazioni, donazioni e lasciti.<br /><br />
            Le entrate dell’Associazione sono costituite:<br />
            a) da quote e contributi associativi;<br />
            b) da proventi derivanti dalle attività dell’Associazione;<br />
            c) da eventuali contributi e finanziamenti pubblici e privati;<br />
            d) da erogazioni liberali fatte da soci o da terzi;<br />
            e) da eventuali rendite su beni di proprietà;<br />
            f) da eventuali sponsorizzazioni;<br />
            g) da eventuali fondi di riserva.<br />
            Le quote sociali e i contributi associativi non sono rimborsabili in nessun caso,
            non possono essere trasferiti e non sono rivalutabili.
        </p>
        <p>
            <span class="article-label">Articolo 16)</span> L’esercizio sociale va dal primo gennaio al 31 dicembre di ogni
            anno. Alla chiusura di ogni esercizio il Consiglio Direttivo predispone il bilancio
            consuntivo e lo sottopone all’approvazione dell’Assemblea dei soci entro il 30
            aprile dell’anno successivo.
        </p>
        <p>
            <span class="article-label">Articolo 17)</span> L’Associazione è senza fine di lucro e le è vietato distribuire, anche
            in modo indiretto, utili o avanzi di gestione comunque denominati, nonché fondi,
            riserve o capitale, salvo che la destinazione o la distribuzione non siano imposte
            per legge. Il residuo attivo del rendiconto dovrà essere reinvestito
            nell’Associazione stessa o utilizzato nei termini previsti dalle leggi.
        </p>
        <h2>Modifiche di Statuto e Scioglimento dell’Associazione</h2>
        <p>
            <span class="article-label">Articolo 18)</span> Le modifiche al presente Statuto devono essere assunte
            dall’Assemblea straordinaria dei soci con il voto favorevole di almeno 2/3 dei voti
            validi espressi in Assemblea.
        </p>
        <p>
            <span class="article-label">Articolo 19)</span> L’Associazione si scioglie per valida deliberazione dell’Assemblea
            straordinaria dei Soci, appositamente convocata, che delibera sulla destinazione
            del patrimonio residuo (se presente), dedotte le passività (debiti residui ed
            obbligazioni varie in capo all’Associazione), per uno o più scopi stabiliti dal
            presente Statuto e comunque ad altra associazione con finalità analoghe o ai fini
            di pubblica utilità.
        </p>
        <h2>Disposizioni Finali</h2>
        <p>
            <span class="article-label">Articolo 20)</span> Per qualunque controversia sorgesse in dipendenza dalla
            esecuzione o interpretazione del presente Statuto e che possa formare oggetto
            di contenzioso, i Soci si impegnano a non aderire ad altra autorità oltre
            all’Assemblea dei Soci, compresa quella giudiziaria.
        </p>
        <p>
            <span class="article-label">Articolo 21)</span> Per tutto quanto non è previsto dal presente Statuto si fa rinvio
            alle norme di legge ed ai principi generali dell’ordinamento giuridico italiano, alle
            leggi speciali sulle associazioni.
        </p>

    </div>
</div>
