body {
    color: rgb(202, 112, 168);

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a {
    color: rgb(202, 112, 168);
    text-decoration: underline;
}
a:hover {
    color: white;
}

h1 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 3rem;
    color: white;
}

h2 {
    font-weight: 600;
    color: white;
}

.article-label {
    font-weight: 600;
    color: white;
}

.form-group label {
    font-weight: 600;
}

.form-check {
    margin-bottom: 0.7em;
}

input.input-validation-error {
    background: #fefbfd;
    border-color: #da0b0b;
    border-width: 3px;
}
span.field-validation-error {
    display: block;
    color: #da0b0b;
    font-weight: 600;
}

button {
    margin-bottom: 1em;
}

.text-muted {
    color: rgb(172, 82, 138) !important;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 2px #ca70a8 solid;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submit {
    background-color: rgb(202,112,168);
    border-color: rgb(202,112,168);
}
